@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 150ms;
}

select {
  appearance: none;
}

.details-country li {
  font-weight: 300;
  font-size: 17px;
  color: #fafafa;
}

.details-country li > span {
  font-weight: 300;
  color: #858585;
}

@layer base {
  .theme-bg {
    @apply bg-white dark:bg-darkBlue;
  }

  .theme-shadow {
    @apply shadow-md  shadow-gray-200 dark:shadow-none;
  }
}
